<div class="container recform">
<h1 id="addtxt">Request To Add A City:</h1>
<div class='menu-container'>
  <form class='new-city-form'>
    <div class='add-location-container'>
      <label for="location">City Name:</label>
      <br />
      <textarea id='location_name' name='location_name' rows='2' cols='30'>
      </textarea>
      <br />
      <h1 id="rectxt">Submit A Recommendation With This Request:</h1>
      <div class="category">
        <label for="category">Choose a category:</label>
        <select name="category_id" id="category_id">
          <option value="" disabled selected>Select Category</option>
          <option value="1">Arts and Entertainment</option>
          <option value="2">Food and Beverages</option>
          <option value="3">Shopping and Retail</option>
          <option value="4">Services</option>
        </select>
      </div>
      <br />
      <label for='title'>
        Business Name:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>
        {{title}}
        </textarea>
      <br />
      <label for='address'>
        Business address:
      </label>
      <br />
      <textarea id='address' name='address' rows='2' cols='30'>
        {{address}}
        </textarea>
      <br />
      <label for='address'>
        Business Website:
      </label>
      <br />
      <textarea id='website' name='website' rows='2' cols='30'>
        {{website}}
        </textarea>
      <br />
      <label for='comment'>
        Your Comment:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='2' cols='30'>
        {{comment}}
        </textarea>
      <br />
      <button id="submit-btn" type='submit' value='Submit'>
        Submit
      </button>
  </form>
</div>
</div>

<script src='/js/add-city.js'></script>