<h1>Add Location</h1>
<div class='menu-container'>
  <div class='card-header col-md-10'>
    <form class='new-city-form'></form>
    <div class='add-location-container'>
      <h2>
        Which city would you like to add?
      </h2>
        <br />
      <textarea id='location_name' name='location_name' rows='2' cols='30'>
        {{location_name}}
        </textarea>
      <br />
      <label for='title'>
        Bussiness Name:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>
        {{title}}
        </textarea>
      <br />
      <label for='comment'>
        Leave a review:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='2' cols='30'>
        {{comment}}
        </textarea>
      <br />
      <label for='address'>

        Bussines address:
      </label>
      <br />
      <textarea id='address' name='address' rows='2' cols='30'>
        {{address}}
        </textarea>
      <div class="dropdown-category">
        <button onclick="asignCat()" class="cat">Category</button>
        <div id="dropdown-category" class="dropdown-category">
          <a>Arts and Entertainment</a>
          <a>Food and Beverages</a>
          <a>Shopping and Retail</a>
          <a>Services</a>
        </div>
        <button type='submit' value='Submit'>
          Submit
        </button>
        </form>
      </div>
    </div>
    <script src='/public/js/add-city.js'></script>