<h1>Add Recommendation</h1>
<div class='menu-container'>
  <div class='card-header col-md-10'>
  <div class='add-recommendation-container'>
    <h2>
      Choose a city :
   </h2>
  <div class="dropdown-city">
  <button onclick="asignCat()" class="cat">Dropdown</button>
  <div id="dropdown-city" class="dropdown-city">
    <a>Arts and Entertainment</a>
    <a>Food and Beverages</a>
    <a>Shopping and Retail</a>
    <a>Services</a>
  </div>
    <h2>
      Which are your top suggestions?
    </h2>
    <form class='new-recommendation-form'>
      <label for='title'>
        Bussiness Name:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>
        {{title}}
      </textarea>
      <br />
        <label for='comment'>
        Leave a review:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='2' cols='30'>
        {{comment}}
      </textarea>
      <br />
  </div>
</div>
<script src='/public/js/add-review.js'></script>
