<div class="container recform">
<h1 id="addtxt">Submit A Recommendation:</h1>
<div class='new-recommendation-container'>
  <form class='new-recommendation-form'>
    <div class="add-location-container">
      <label for="location">Choose a city:</label>
      <select name="location_id" id="location_id">
        <option value="" disabled selected>Select City</option>
        <option value="1">Charlotte</option>
        <option value="2">Asheville</option>
        <option value="3">France</option>
        <option value="4">Ecuador</option>
      </select>
      <br />
      <div class="category">
        <label for="category">Choose a category:</label>
        <select name="category_id" id="category_id">
          <option value="" disabled selected>Select Category</option>
          <option value="1">Arts and Entertainment</option>
          <option value="2">Food and Beverages</option>
          <option value="3">Shopping and Retail</option>
          <option value="4">Services</option>
        </select>
      </div>
      <br />
      <label for='title'>
        Business Name:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>{{title}}</textarea>
      <br />
      <label for='comment'>
        Leave a review:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='2' cols='30'>{{comment}}</textarea>
      <br />
      <label for='address'>
        Business address:
      </label>
      <br />
      <textarea id='address' name='address' rows='2' cols='30'>{{address}}</textarea>
      <br />
      <label for='website'>
        Business website:
      </label>
      <br />
      <textarea id='website' name='website' rows='2' cols='30'>{{website}}</textarea>
      <br />
      <button id="submit-btn" type='submit' value='Submit'><a href="/">
        Submit</a>
      </button>
  </form>
</div>
</div>

<script src='/js/add-review.js'></script>